#favs{
     position: relative; 
    bottom: -200px;
    
}

#explore{
     position: relative; 
    bottom: -220px;
    
}

#delete{
     position: relative; 
    bottom: -185px;
    
}

#favFirstName{
    
}

#theirArtists{
}

.Header{

  
}

