<div class="container" id ="favs">
<app-navbar></app-navbar>


    <h1>Your Favorite Users!</h1>
<br>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">   Top Artists</th>
                <th scope="col">   Top Genres</th>
            </tr>
        </thead>
         <tbody>
            <tr *ngFor="let f of favArtists" >
                <td >{{f.firstName}}</td>
                <td>
                    <table>
                        <tbody>
                            <tr>
                                <td>{{f.artist1}} </td>
                                <td>{{f.artist2}} </td>
                                <td>{{f.artist3}} </td>
                                <td>{{f.artist4}} </td>
                                <td>{{f.artist5}} </td>
                                <td>{{f.artist6}} </td>
                            </tr>
                        </tbody>

                    </table>

                </td>
                <!-- <td>
                    <table>
                        <tbody>
                            <tr *ngFor="let a of f.favorites">
                                <td>{{a.genre}} </td>
                            </tr>
                        </tbody>


                    </table>
                </td> -->
            </tr>
        </tbody>


    </table>
</div>
<br>
<div class="container" id = "explore">
    <h1>Explore other users!</h1>
    <p> Click the users you'd like to add to your favorites list:</p>
    
        <form id="exploreForm">
            
            
        </form>
    
</div>

<div class="container" id = "delete">
    <h1>Remove from your favorites!</h1>
    <p> Click the users you'd like to delete your favorites list:</p>

    <form id="deleteForm">
            
            
    </form>

    
</div>
<br>
