
<div class="container">
    <div>
        <h1>Welcome to Matchify</h1>
    </div>
        <div class="clientLabel">
            <label for="clientId">Client Id</label>
            <input type="text" id="clientId" name="clientId">
        </div>
        <div class="secretlabel">
            <label for="clientSecret">Client Secret</label>
            <input type="text" id="clientSecret" name="clientSecret">
        </div>
        <div class="center">
            <div class="btn" value="requestAuth" id="requestAuth" (click)=handleLogin()>button</div>
        </div>
    
  </div>
