<p>genre works!</p>
<div class = "container">
    <div class="grid">
        <ul id="card1" class="card">
            <li>
            <div class="fade-in-text">
                <h1>{{genres.items[0].genres[0]}}</h1>
            </div>
        </li>
        </ul>
        <ul id="card2" class="card">
            <li>
            <div class="fade-in-text">
                <h1>{{genres.items[1].genres[0]}}</h1>
            </div>
        </li>
        </ul>
        <ul id="card3" class="card">
            <li>
            <div class="fade-in-text">
                <h1>{{genres.items[2].genres[0]}}</h1>
            </div>
        </li>
        </ul>
        <ul id="card4" class="card">
            <li>
            <div class="fade-in-text">
                <h1>{{genres.items[3].genres[0]}}</h1>
            </div>
        </li>
        </ul>
        <ul id="card5" class="card">
            <li>
            <div class="fade-in-text">
                <h1>{{genres.items[4].genres[0]}}</h1>
            </div>
        </li>
        </ul>
        <ul id="card6" class= "card">
            <li>
            <div class="fade-in-text">
                <h1>{{genres.items[5].genres[0]}}</h1>
            </div>
        </li>
        </ul>
    </div>